
@media (max-width: 768px) {
    #sidebar {
        width: 240px;
        transform: translateX(-240px); /* hidden by default */
    }

    #sidebar.active {
        transform: translateX(0); /* tampil saat hamburger diklik */
    }

    #mainContent {
        margin-left: 0 !important;
    }
}


@media (max-width: 768px) {
    .header-actions {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
    }
}


@media (max-width: 640px) {
    .limit-box {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
    }
}


@media (max-width: 768px) {
    .card-grid {
        grid-template-columns: 1fr !important;
    }
}


@media (max-width: 768px) {
    #premiumChart {
        height: 250px !important;
    }
}
