* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #ffffff;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* LEFT SIDE (IMAGE) */
.left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left img {
    width: 70%;
    border: 2px solid #ffffff;
    border-radius: 6px;
    padding: 8px;
}

/* RIGHT SIDE (FORM) */
.right {
    width: 50%;
    background: #ffffff;
    padding: 50px 70px;
    text-decoration: none;
}

.back a {
    text-decoration: none;
    font-size: 30px;
    color: #000;
    
}

h2 {
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #000;
    font-weight: 600;
}

/* FORM */
label {
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
    color: #000;
}

input {
    width: 100%;
    padding: 12px;
    background: #ced2d6;
    border: none;
    border-radius: 10px;
    margin-bottom: 18px;
    outline: none;
}

.forgot {
    display: block;
    text-align: right;
    margin-top: -10px;
    margin-bottom: 20px;
    color: #000;
    font-size: 12px;
    text-decoration: none;
}

.right form {
    text-align: center;
    flex-direction: column;
    display: flex;
}


/* LOGIN BUTTON */
.btn-login {
    display: inline-block;
    background: #6a7f6a;
    color: white;
    padding: 10px 30px;
    border-radius: 6px;
    text-decoration: none;
    
}

.register-text {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}

.register-text a {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}

